@media screen and (min-width: 992px) {
  body {
    width: 50%;
  }
}

body {
	font-size: 1.5em;;
}

img#cover_image:only-of-type {
  /*overrides the previous setting, but only in newer systems that support CSS3 */
  height: 99vh;
}
body.cover {
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  text-align: center;
  background-color: #ffffff;
}
img.height {
  height: 100%;
}
small {
  font-size: 85%;
}
blockquote {
  margin: 0em 0em 0em 0em;
}
sup {
  vertical-align: super;
  font-size: 0.65em;
  vertical-align: 35%;
}
sub {
  vertical-align: sub;
  font-size: 0.65em;
  vertical-align: -21%;
}
.head {
  -webkit-hyphens: none;
  -epub-hyphens: none;
  break-after: avoid;
}
ol.toc {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  list-style-type: none;
}
@page {
  margin: 5pt;
}
a {
  text-decoration: none;
}
div.body {
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  adobe-hyphenate: none;
  margin: 30px 30px 20px 30px;
  text-indent: 0;
}
aside {
  padding-left: 0em;
  margin-left: inherit;
  text-indent: 0em;
}
span.ellipsis {
  font-weight: normal;
  font-style: normal;
}
@media amzn-kf8 {
  div.body {
    margin: 0em 0em 0em 0em;
  }
  body {
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    adobe-hyphenate: none;
    margin: 30px 30px 20px 30px;
    text-indent: 0;
  }
}
@media amzn-mobi {
  div.body {
    margin: 0em 0em 0em 0em;
  }
  body {
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    adobe-hyphenate: none;
    margin: 30px 30px 20px 30px;
    text-indent: 0;
  }
  sup {
    vertical-align: super;
    font-size: 0.65em;
  }
  sub {
    vertical-align: sub;
    font-size: 0.65em;
  }
}
body {
  line-height: 1.25;
}
table.No-Table-Style {
  border-collapse: collapse;
  margin: 0em 0em 0em 0em;
  width: 100%;
  border-bottom: 1px solid;
}
td.TBF {
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 6px;
  vertical-align: top;
}
li.BL1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.BL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.BLF {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.BLL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.BLL1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.BLTX {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0.8em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 1em;
}
p.BLTX1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 0.8em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 1em;
}
h1.BMH {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 100px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.CAP {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.CBMH {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 4.6em;
  margin-right: 0em;
  margin-top: 8px;
  text-align: left;
  text-decoration: none;
  text-indent: -2.1em;
}
p.toc-bm {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -0em;
}
li.CBMHF {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25px;
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 1px solid;
}
li.CBMHL {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
li.CCT {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 4.6em;
  margin-right: 0em;
  margin-top: 8px;
  text-align: left;
  text-decoration: none;
  text-indent: -2.1em;
}
li.CCTF {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 4.6em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: -2.1em;
}
li.CFMH {
  font-family: sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 25px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COM {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COM1 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COM1I {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 2.4em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COM2 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COM3 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20x;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COMF {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COMI {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 2.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.COML {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
li.CPT {
  font-family: sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 2.4em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: -2.4em;
}
li.CPTF {
  font-family: sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 7px;
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 1px solid;
}
p.CRT {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.CRT-i {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: -1.2em;
}
p.CRT1 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.CRTF {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.DED {
  font-family: serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.DEDF {
  font-family: serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.EP {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.EP1 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.EPA {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: right;
  text-decoration: none;
  text-indent: 0em;
}
p.EPA1 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: right;
  text-decoration: none;
  text-indent: 0em;
}
p.EPA2 {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: right;
  text-decoration: none;
  text-indent: 0em;
}
h1.FMH {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 100px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
h2.FMH1 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 50px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 50px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.FN {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
h2.a-head {
  font-family: serif;
  font-size: 0.917em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 35px;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 1px solid;
}
h3.b-head {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
li.IX {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: -1.2em;
}
li.IXA {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: -1.2em;
}
li.IXS {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: -0.6em;
}
li.NL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 3px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.NLF {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.NLF {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
p.NL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
li.NLL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
li.NLL1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
h1.PN {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 100px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 7px solid;
}
h1.chapter-number {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 100px;
  margin-left: 2.3em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: -2.3em;
  padding: 0em 0em 0em 0em;
}
p.bor-top {
  border-top: 7px solid;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 10px 0em;
}
p.STNI {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.STNI1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}

p.STNI1-NEW {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}

p.TBBL {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0.8em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: -0.8em;
}
p.TCH {
  font-family: serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.noindent {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.TNI1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}

p.TNI1-NEW {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}

p.TNI2 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
}
p.TPAU {
  font-family: serif;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  padding-top: 10px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 7px solid;
}
p.TPEDN {
  font-family: serif;
  font-size: 1.167em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 40px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.TPPUB {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 280px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.TPPUB1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.TPST {
  font-family: sans-serif;
  font-size: 1.333em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
}
p.TPT {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 80px;
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  border-top: 1px solid;
}
p {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: 1em;
}
li.UL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
p.UL1 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 1.8em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: -0.8em;
}
li.UL2 {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
li.ULF {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
li.ULL {
  font-family: serif;
  font-size: 0.833em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-left: 1.2em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: justify;
  text-decoration: none;
  text-indent: -1.2em;
}
span.code_eq-symb {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
span.dcrit {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
span.dcrit-alt {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
samp.SANS_Consolas_Bold_B_11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
}
samp.SANS_Consolas_Regular_11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
}
samp.SANS_Consolas_Regular_11-SC {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
}
samp.SANS_Consolas_Regular_U_11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  font-size: 0.85em;
}
samp.SANS_Helvetica_LT_Std_Bold_B_11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}
samp.SANS_Helvetica_LT_Std_Bold_B_11-sm {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
}
samp.SANS_Helvetica_LT_Std_Roman_11 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}
span.fnnum {
  font-weight: normal;
}
span.nl {
  font-weight: normal;
}
span.p-alt {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
span.symb {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
span.symb-b {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
span.symb-code {
  font-family: serif;
  font-style: normal;
  font-weight: normal;
}
hr.HorizontalRule-1 {
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 0.5em;
  border-top: solid #000000 1px;
  margin: 3em 0em 0em 0em;
  width: 15%;
}
ul.bullet {
  list-style-type: disc;
  margin: 0em 0em 0em 0.6em;
  padding: 0em 0em 0em 0em;
}
ul.List-1 {
  margin: 0em 0em 0em 0.6em;
  padding: 0em 0em 0em 0em;
}
ol.List-1 {
  margin: 0em 0em 0em 1em;
  padding: 0em 0em 0em 0em;
}
ul.no-bullet {
  list-style-type: none;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}
ul.ind {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  list-style-type: none;
}
hr.transition_sb {
  background: url("../images/orn.png") no-repeat center;
  height: 1em;
  border: none;
  margin: 1em 0em 0.4em 0em;
}

ol.footnotes {
  list-style-type: none;
  padding-top: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
}
th.TCH {
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 6px;
  vertical-align: bottom;
}
figure.IMG {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
}
figure.IMG-L {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
}

figure.IMG-NEW {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
}

figure.table {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
}

p.sp {
  margin-bottom: 3em;
}
p.sp1 {
  margin-bottom: 5em;
}
img.inline {
  vertical-align: middle;
}

.img100 {
  width: 100%;
}

.img60 {
  width: 60%;
}

.img80 {
  width: 80%;
}

.img70 {
  width: 70%;
}
